@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  padding: calc(8px + 1.5625vw);
}

h1,
h2 {
  font-family: "Sentient", serif;
  font-weight: 400;
  color: #000;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: "Sentient", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  color: #000;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 1rem;
}

#post-title {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.nav-text {
  font-size: 1rem;
}

.page-title {
  font-size: 2.5rem;
}

ul,
ol {
  list-style: circle;
  margin-left: 2em;
}

#nav {
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

blockquote {
  margin-left: 2em;
  background: #f5f5f2;
  border-left: 10px solid #f0d58b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #4d4d4d;
}
