@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  background-color: #f2f0e1;
  color: #525252;
}

h1 {
  font-family: "Frounces", serif;
  font-size: 4.5rem;
  font-weight: 500;
  color: #b49fc2;
}

h2 {
  font-family: "Frounces", serif;
  font-size: 2.0rem;
  font-weight: 500;
  color: #b49fc2;
}

p, ul {
  font-family: "Questrial", sans-serif;
  font-size: 1.0rem;
  color: #4d4d4d;
}

header {
  background-color: #f2f0e1;
}

#nav-style {
  margin-bottom: 0;
}

.link-style {
  margin-right: 20px;
}

.link-style:hover {
  color: #8c7b96;
  text-decoration-line: underline;
}

.section-title {
  font-family: "Frounces", serif;
  font-size: 1.75rem;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #d6ad45;
}

.metadata {
  color: #c2bbc7;
  line-height: 1.75rem;
}

ol, li {
  line-height: 2.0rem;
}

b {
  color:#8c7b96;
}